# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#User Custom
*VC.VC.opendb
*.VC.db
*.vcxproj
*.vcxproj.filters
*.sln
*.pb.*

.idea/

WSSockServer/ipch/
WSSockServer/WSSockServer/Debug
WSSockServer/Debug
WSSockServer/mysql-5.7.17-win32/
WSSockServer/mysql-5.7.17-winx64/
WSSockServer/protobuf-3.3.0/
WSSockServer/WSSockServer/x64/
WSSockServer/WSSockServer/logs/
WSSockServer/WSSockServer/linuxBuild/
WSSockServer/.vs/

BattleCity/ipch/
BattleCity/curl-7.54.0/
BattleCity/jsoncpp-src-0.5.0/
BattleCity/protobuf-3.3.0/
BattleCity/BattleCity/Debug
BattleCity/Debug
BattleCity/BattleCity/logs
BattleCity/.vs/

www/system/
www/application/language/
www/application/views/errors/
www/application/third_party/
www/application/logs/
www/application/libraries/
www/application/hooks/
www/application/helpers/
www/application/core/
www/application/cache/
www/application/config/
www/application/.htaccess